# TravisCI configuration for szepeviktor/phpcs-psr-12-neutron-hybrid-ruleset

language: "php"
os:
  - "linux"
dist: "bionic"

php:
  - "8.2"
  - "8.1"
  - "8.0"
  - "7.4"
  - "7.3"
  - "7.2"

jobs:
  include:
    - name: "Validate ruleset XML file"
      php: "7.4"
      addons:
        apt:
          - "libxml2-utils"
      script:
        - "composer run test:xml"

cache:
  directories:
    - "${HOME}/.composer/cache"

before_install:
  - "phpenv config-rm xdebug.ini"
  - "composer validate --strict"

install:
  - "composer update --no-interaction --verbose"

script:
  - "composer run test:cs"
