name: "Spelling"

on:  # yamllint disable-line rule:truthy
    pull_request: null
    push:
        branches:
        - "master"

jobs:
    typos:
        name: "Tpos"
        runs-on: "ubuntu-22.04"
        steps:
        -
            name: "Check out repository"
            uses: "actions/checkout@v3"
        -
            name: "Search for misspellings"
            uses: "crate-ci/typos@master"
